.App {
  text-align: center;
}

body{
  font-family: 'nanumsquare';
}

.black-nav{
  background: black;
  width: 100%;
  display: flex;
  color: white;
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
}

a{
  text-decoration: none;
  color: inherit;
}

.lists{
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 20px;

}